<div class="cardItem">
  <div class="viewsContainer">
    <app-svg-icon name="ic_baseline-remove-red-eye"></app-svg-icon>
    <div class="numberOfViews">
      <span>{{ spaceInNumbers(doctor.views) }}</span>
    </div>
  </div>
  <div class="profileImgContainer">
    <img [src]="getImagePath(doctor.image)" />
  </div>
  <div class="fullNameContainer">
    <span>{{ doctor.firstName }} {{ doctor.lastName }}</span>
  </div>
  <div class="medCategoryContainer">
    <span>{{ doctor.category.name }}</span>
  </div>
  <div class="reviewStars">
    <app-svg-icon
      *ngFor="let item of [1, 2, 3, 4, 5]"
      name="material-symbols_star-rounded"
    ></app-svg-icon>
  </div>
  <app-button
    (click)="goDetailPage()"
    borderRadius="25px"
    width="200px"
    height="50px"
    value="მიღებაზე ჩაწერა"
    iconRight="arrow-back-ios-rounded"
    iconTopPos="18px"
    iconLeftPos="257px"
    color="#053354"
  ></app-button>
</div>
