.categoryCard {
  margin: 0 auto;
  width: 1000px;
}
.card .deleteIcon {
  cursor: pointer;
  display: block;
  float: right;
}
.card .deleteIcon:hover {
  color: red;
}

.categoryCard th {
  background: #f0faff;
  font-family: "FiraGO-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #053354;
}
