<div class="card categoryCard">
  <p-table
    [value]="category_list"
    [scrollable]="true"
    scrollHeight="400px"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>სახელი</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.id }}</td>
        <td>
          {{ category.name }}
          <i
            class="pi pi-trash deleteIcon"
            style="font-size: 2rem"
            (click)="onDelete(category)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
