<header>
  <div class="headerIconContainer" (click)="changePage('')">
    <img class="headerImg" src="/assets/logos/logo 1.png" />
    <p class="headerIconText">კლინიკა</p>
  </div>
  <div class="navigationContainer">
    <div
      class="navItem"
      *ngFor="let navItem of navItems"
      [ngClass]="{ active: IsCurrentPage(navItem.url) }"
    >
      <span (click)="changePage(navItem.url)">{{ navItem.title }}</span>
      <div class="navLineActive" *ngIf="IsCurrentPage(navItem.url)"></div>
    </div>
    <div class="navLine"></div>
  </div>
  <div
    class="authedContainer"
    (click)="IsAdmin() ? changePage('/admin') : changePage('/profile')"
    *ngIf="IsAuthenticated()"
  >
    <span>{{ getUserEmail() }}</span>
  </div>
  <div class="authContainer" *ngIf="!IsAuthenticated()">
    <div
      class="authorization"
      [class.active]="authDialogOpened"
      (click)="openDialog()"
    >
      <span>ავტორიზაცია</span>
    </div>
    <div class="slashFigure"><span>/</span></div>
    <div
      class="registration"
      [class.active]="!authDialogOpened && IsCurrentPage('/register')"
      (click)="changePage('register')"
    >
      <span>რეგისტრაცია</span>
    </div>
  </div>
  <div class="languageContainer">
    <span>ENG</span>
  </div>
</header>
