<div class="menuContainer">
  <div class="menuItemsContainer">
    <div class="menuFigure">
      <div class="longLine"></div>
      <div class="mediumLine"></div>
      <div class="smallLine"></div>
    </div>
    <div class="menuItems">
      <div class="menuItem"><span>რეგისტრაცია</span></div>
      <div class="menuItem"><span>კატეგორიები</span></div>
      <div class="menuItem active"><span>ექიმები</span></div>
    </div>
  </div>
  <div class="menuTabsContainer">
    <div class="menuTab active"><span>ექიმი</span></div>
    <div class="menuTab"><span>მომხმარებელი</span></div>
    <div class="menuTab"><span>ადმინისტრატორი</span></div>
  </div>
</div>
<app-doctor-edit></app-doctor-edit>

<app-calendar></app-calendar>
