<div class="buttonContainer">
  <input
    type="button"
    [value]="value"
    [ngStyle]="{
      'border-radius': borderRadius,
      height: height,
      width: width,
      color: color,
      background: background
    }"
  />
  <app-svg-icon
    class="iconRight buttonSVG"
    *ngIf="iconRight"
    [name]="iconRight"
    [ngStyle]="{
      top: iconTopPos,
      left: iconLeftPos
    }"
  ></app-svg-icon>
  <app-svg-icon
    class="iconLeft buttonSVG"
    *ngIf="iconLeft"
    [name]="iconLeft"
  ></app-svg-icon>
</div>
