<div class="calendarContentContainer">
  <div class="calendar-container">
    <full-calendar
      #calendar
      [options]="calendarOptions"
      [deepChangeDetection]="true"
    >
      <ng-template #eventContent let-arg class="eventTemplate">
        <!-- <b>{{ arg.timeText }}</b> -->
        <!-- <i>{{ arg.event.title }}</i> -->
        <i *ngIf="arg.event.classNames.includes('myEvent') && isNormalUser()"
          >ჩემი ჯავშანი</i
        >
        <i
          *ngIf="
            arg.event.classNames.includes('myEvent') &&
            !arg.event.classNames.includes('restDays') &&
            !isNormalUser()
          "
          >დაჯავშნილია</i
        >
        <div
          class="eventDeleteButtonContainer"
          *ngIf="
            (deleteEvents && arg.event.classNames.includes('myEvent')) ||
            (deleteEvents && isAdminUser())
          "
        >
          <app-svg-icon
            name="redX"
            class="eventDeleteButton"
            (click)="deleteEvent(arg.event.id)"
          >
            წაშლა
          </app-svg-icon>
        </div>
      </ng-template>
    </full-calendar>
  </div>
  <app-custom-prompt
    [title]="popupTitle"
    [message]="popupMessage"
    *ngIf="showPopup"
    (confirmEvent)="onConfirm($event)"
    (cancelEvent)="onCancel()"
  ></app-custom-prompt>

  <div
    class="messageContainerNotAuth"
    *ngIf="!IsAuthenticated()"
    (click)="changePage('/register')"
  >
    <span class="mainMessageTitle title">დასაჯავშნად გთხოვთ გაიაროთ </span>
    <span class="secondMessageTitle title"> ავტორიზაცია ან რეგისტრაცია.</span>
  </div>
  <app-button
    class="editButton"
    [background]="deleteEvents ? '#FF93A6' : '#ECF2F8'"
    color="#18A4E1"
    height="50px"
    width="230px"
    iconLeft="edit-svgrepo-com"
    borderRadius="50px"
    (click)="showDeleteOnEvents()"
    value="რედაქტირება"
  ></app-button>
  <div class="calendarInfo">
    <div class="doctorRestDayContainer colorsInfo">
      <div class="doctorRestDay"></div>
      <span>დასვენების დღე</span>
    </div>
    <div class="otherReservsContainer colorsInfo">
      <div class="otherReservs"></div>
      <span>სხვისი ჯავშანი</span>
    </div>
    <div class="myReservsContainer colorsInfo">
      <div class="myReservs"></div>
      <span>ჩემი ჯავშანი</span>
    </div>
  </div>
</div>
