<div class="modal">
  <div class="modal-header" *ngIf="eventInfo">
    <div class="exitModal" (click)="cancel()">
      <app-svg-icon name="redX"></app-svg-icon>
    </div>
  </div>
  <div class="modal-body">
    <p class="mainTitle title">{{ title }}</p>
    <p class="secondTitle title">{{ message }}</p>
    <textarea
      type="text"
      [(ngModel)]="inputText"
      placeholder="აღწერა..."
      [disabled]="eventInfo"
    ></textarea>
  </div>
  <div class="modal-footer" *ngIf="!eventInfo">
    <app-button
      class="btnCancel"
      (click)="cancel()"
      value="გაუქმება"
      width="170px"
      height="50px"
      borderRadius="50px"
      background="#FF93A6"
    ></app-button>
    <app-button
      class="btnConfirm"
      (click)="confirm()"
      value="დაჯავშნა"
      borderRadius="50px"
      background="#3ACF99"
      width="170px"
      height="50px"
    ></app-button>
  </div>
</div>
