<div *ngIf="passwordChanged" class="authTitle">
  <span>წარმატებით შეიცვალა პაროლი!</span>
</div>
<div *ngIf="!passwordChanged">
  <div class="authTitle">
    <span *ngIf="!changePassword">პაროლის აღდგენა</span>
    <span *ngIf="changePassword">პაროლის შეცვლა</span>
  </div>
  <app-input
    class="authEmail"
    placeholder="ელფოსტა"
    [error]="emailError"
    (inputValueEvent)="setEmailValue($event)"
    svgName="mail-right-arrow"
  ></app-input>
  <div class="mail-right-arrow-cover" (click)="sendEmailCode()"></div>
  <app-input
    class="activateCode"
    label="აქტივაციის კოდი"
    for="activateCode"
    infoLabel="ვადა 5 წთ"
    [error]="codeError"
    (inputValueEvent)="setCodeValue($event)"
  ></app-input>
  <app-input
    class="authPassword"
    placeholder="პაროლი"
    type="password"
    [error]="passwordError"
    (inputValueEvent)="setPasswordValue($event)"
  ></app-input>
  <app-input
    class="authPassword"
    placeholder="პაროლი"
    type="password"
    [error]="confirmPasswordError"
    (inputValueEvent)="setConfirmPasswordValue($event)"
  ></app-input>
  <div
    class="restorePassword"
    (click)="loadLoginPage()"
    *ngIf="!changePassword"
  >
    <span>ავტორიზაცია</span>
  </div>
  <app-button
    background="#053354"
    borderRadius="50px"
    width="180px"
    height="40px"
    [value]="restorePassword ? 'შემოწმება' : 'შეცვლა'"
    (click)="restore()"
  ></app-button>
</div>
