.doctorInfoContainer {
  width: 1208px;
  height: 250px;

  background: #ffffff;
  border: 1px solid #ecf2f8;
  box-shadow: 0px 4px 30px rgba(5, 51, 84, 0.05);
  border-radius: 10px;
}

.doctorProfileImg {
  display: inline-block;
  margin-top: 45px;
  margin-left: 48px;
}

.profileimg {
  border-radius: 50%;
}

.doctorMainInfoContainer {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

.doctorFullName {
  margin-top: 75px;
}

.doctorFullName span {
  font-family: "FiraGO-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  color: #053354;
}

.doctorCategory {
  margin-top: 17px;
}

.doctorCategory span {
  font-family: "FiraGO-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(5, 51, 84, 0.3);
}

.doctorReview {
  margin-top: 16px;
}

.doctorInfoLine {
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
  margin-left: 103px;

  height: 140px;
  width: 0px;
  border: 1px solid #ecf2f8;
}

.doctorHistory {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 200px;
  margin-top: 50px;
  margin-left: 51px;
}

.doctorHistory span {
  font-family: "FiraGO-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #053354;
}
