<div class="doctorInfoContainer" *ngIf="doctor">
  <div class="doctorProfileImg">
    <img class="profileimg" [src]="getImagePath(doctor.image)" />
  </div>
  <div class="doctorMainInfoContainer">
    <div class="doctorFullName">
      <span>{{ doctor.firstName }} {{ doctor.lastName }}</span>
    </div>
    <div class="doctorCategory">
      <span>{{ doctor.category.name }}</span>
    </div>
    <div class="doctorReview">
      <app-svg-icon
        *ngFor="let star of [1, 2, 3, 4, 5]"
        name="material-symbols_star-rounded"
      ></app-svg-icon>
    </div>
  </div>
  <div class="doctorInfoLine"></div>
  <div class="doctorHistory">
    <span>
      2017 - დღემდე, ჩვენი კლინიკის გენერალური დირექტორი <br /><br />2002 -
      დღემდე, ჩვენი კომპიუტერული ტომოგრაფიის განყოფილების ხელმძღვანელი<br /><br />
      1995 - დღემდე, კარდიოლოგი / არითმოლოგი</span
    >
  </div>
</div>
