<p-toast position="top-right"> </p-toast>
<div class="authContainer">
  <div class="authTitle"><span>ავტორიზაცია</span></div>
  <app-input
    class="authEmail"
    placeholder="ელფოსტა"
    [error]="emailError"
    (inputValueEvent)="setEmailValue($event)"
  ></app-input>
  <app-input
    class="authPassword"
    placeholder="პაროლი"
    type="password"
    [error]="passwordError"
    (inputValueEvent)="setPasswordValue($event)"
  ></app-input>
  <div class="restorePassword"><span>პაროლის აღდგენა</span></div>
  <app-button
    background="#053354"
    borderRadius="50px"
    width="180px"
    height="40px"
    value="შესვლა"
    (click)="loginUser()"
  ></app-button>
</div>
