<div class="medicInfoContainer">
  <div class="medicProfileImg"><img [src]="medic.image" /></div>
  <div class="medicMainInfoContainer">
    <div class="medicFullName">
      <span>{{ medic.firstName }} {{ medic.lastName }}</span>
    </div>
    <div class="medicCategory">
      <span>{{ medic.category }}</span>
    </div>
    <div class="medicReview">
      <app-svg-icon
        *ngFor="let star of [1, 2, 3, 4, 5]"
        name="material-symbols_star-rounded"
      ></app-svg-icon>
    </div>
  </div>
  <div class="medicInfoLine"></div>
  <div class="medicHistory">
    <span>
      2017 - დღემდე, ჩვენი კლინიკის გენერალური დირექტორი <br /><br />2002 -
      დღემდე, ჩვენი კომპიუტერული ტომოგრაფიის განყოფილების ხელმძღვანელი<br /><br />
      1995 - დღემდე, კარდიოლოგი / არითმოლოგი</span
    >
  </div>
</div>
