<div class="profileContainer" *ngIf="user">
  <div class="profileImage">
    <img
      class="profileimg"
      [src]="
        user.Image == ''
          ? 'assets/images/profileImg.png'
          : getImagePath(user.Image)
      "
    />
  </div>
  <div class="userFullName">
    <span>{{ user.FirstName }} {{ user.LastName }}</span>
  </div>
  <div class="userStatus infoText">
    <span class="mainSpan">{{ user.Role }}<br /></span>
    <span class="secondSpan" *ngIf="user.Role == 'ექიმი'"
      >{{ user.Category }}<br
    /></span>
    <span class="secondSpan" *ngIf="user.Role == 'ექიმი'">
      <app-svg-icon
        *ngFor="let i of [1, 2, 3, 4, 5]"
        name="material-symbols_star-rounded"
      ></app-svg-icon>
    </span>
  </div>
  <div class="userPid infoText">
    <span class="mainSpan">პირადი ნომერი :<br /></span>
    <span class="secondSpan">{{ user.Pid }}</span>
  </div>
  <div class="userEmail infoText">
    <span class="mainSpan">Email :<br /></span>
    <span class="secondSpan">{{ user.Email }}</span>
  </div>
  <!-- <div class="changePassword infoText" *ngIf="user.status == 'მომხმარებელი'"> -->
  <div class="changePassword infoText" (click)="changePassword()">
    <span>პაროლის შეცვლა</span>
  </div>
  <div class="userReservations infoText">
    <span class="mainSpan">ჩემი ჯავშანი :<br /></span>
    <span class="secondSpan">({{ user.MyReservationsCount }})</span>
    <!-- <span class="secondSpan">(3)</span> -->
  </div>
</div>
